.afserebro{
    width: 20%;
    display: inline;
    position: relative;
}



.sero{
  
    width: 20%;
    display: inline;
    position: relative;
}
.mani, .kon , .tar{
    color: #FFFD00;
    font-size: 120%;
    cursor: pointer;
    
}
.razmer{
    display: flex;
    gap: 80%;
    position: fixed;
    margin-top: -10%;
    margin-left: 30%;
}

.pagemani{
    width: 80%;
    display: flex;
    
    gap: 10%;
    margin: 1% 6%; 
}

.kar{
    margin-top: -2%;
}

@font-face {
    font-family: "helvetica_regular";
    src: url("../fonts/helvetica_regular.otf") format("opentype");
    font-style: normal;
    font-weight: 200;
    }

    p{
        font-family: "helvetica_regular";
    }
