.hisserebro{
  
    width: 20%;
    display: inline;
    position: relative;
}
 .knm{
    position: relative;
    width: 40%;
    margin-left: 30%;
    margin-top: -10%;
 }
.master-class{
    width: 100%;
}

.knng{
    position: relative;
    width: 56%;
    margin-left: 25%;
    margin-top: 2%;
    
}

.lecture{
    width: 100%;
}

.lala{
    position: relative;
    width: 26%;
    margin-left: 38%;
    margin-top: 2%;
}
.lolo{
    width: 100%;
}

.kna{
    position: relative;
    width: 20%;
    margin-left: 78%;
    margin-top: -4%;
}

.arhiv{
    width: 100%;
}