.afserebro{
    width: 20%;
    display: inline;
    position: relative;
}

.cards-container{
    width: 100%;
}



.serro{
    width: 20%;
    position: absolute;

}



.nadpisnews{
    width: 100%;
    
}

.new{
    width: 60%;
    margin-left: 20%;
    
}

.serro{
    width: 26%;
}

.jenny{
    width: 100%;
}

.jnoofw{
    margin-left: -5%;
    width: 100%;
}

.street{
    width: 100%;
}

.jnoo{
    width: 95%;
margin-left: 3%;
margin-top: -3%;
}

.metgala{
    width: 100%;
}

.ofw{
    width: 110%;
    margin-left: -10%;
    margin-top: 5%;
}

.metlana{
    width: 100%;
}
.jnoow{
    width: 95%;
    margin-left: 3%;
    margin-top: -15%;
}

.jelti{
    width: 100%;
}

.newer{
    width: 70%;
    margin-left: 23%;
    margin-top: 2%;
}

