.kn1{
    width: 27%;
    margin-top: -2%;
    margin-left: 6%;
   position: fixed;
    
}
.bhistory{
    width: 100%;
}

.kn2{
width: 27%;
margin-left: 35%;

position: fixed;

}

.resss{
    width: 100%;
}
.kn5{
    width: 23%;
    margin-left: 68%;
   
    position: fixed;
}

.bum{
    width: 100%;
}
.kn3{
    width: 30%;
margin-left: 68%;
margin-top: 23%;
position: fixed;

}
.ytka{
    width: 100%;
}

.kn4{
    width: 28%;
    margin-left: 35%;
    margin-top: 23%;
    position: fixed;
}

.korzina{
    width: 100%;
}

.kastom{
    width: 100%;
}

.kn6{
    width: 24%;
margin-left: 5%;
margin-top: 26%;
position: fixed;
}

